<template>
  <Navbar class="mb-5" />
  <div class="wrapper">
    <div class="container flex justify-center">
      <div class="flex flex-col gap-4 mt-6">
        <h1 class="text-2xl font-semibold tracking-wide">My trips</h1>

        <div class="trip-card bg-white rounded-md mb-6">
          <div class="flex py-5 pl-5 gap-6">
            <img src="./imgs/houseTrip.png" alt="" />
            <div class="w-full flex justify-between">
              <div class="flex flex-col gap-2">
                <p class="text-xl font-medium">Lakeside Motel Warefront</p>
                <div class="flex gap-2 mt-2">
                  <div class="flex">
                    <img src="../../../assets/Icons/star.svg" alt="" />
                    <img src="../../../assets/Icons/star.svg" alt="" />
                    <img src="../../../assets/Icons/star.svg" alt="" />
                    <img src="../../../assets/Icons/star.svg" alt="" />
                    <img src="../../../assets/Icons/half star.svg" alt="" />
                  </div>
                  <p class="color-text text-sm">4.5 (1200 Reviews)</p>
                </div>
                <div
                  class="mt-6 flex flex-col gap-2 text-sm color-text leading-5"
                >
                  <p class="text-red-500">Non refundable</p>
                  <p>Check in: Sunday, March 18, 2022</p>
                  <p>Check out: Tuesday, March 20, 2022</p>
                  <p>2 night stay</p>
                </div>
              </div>

              <div class="flex flex-col gap-4 self-end mr-5">
                <div>
                  <p class="text-end text-xl font-medium">
                    <span class="text-red-500 text-sm mr-2 font-medium"
                      >$150</span
                    >$130
                  </p>
                  <p class="opacity-60">Includes taxes and fees</p>
                </div>
                <button class="py-2.5 px-5 bg-blue-500 text-white rounded-md">
                  View trip details
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="trip-card bg-white rounded-md mb-96">
          <div class="flex py-5 pl-5 gap-6">
            <img src="./imgs/houseTrip.png" alt="" />
            <div class="w-full flex justify-between">
              <div class="flex flex-col gap-2">
                <p class="text-xl font-medium">Lakeside Motel Warefront</p>
                <div class="flex gap-2 mt-2">
                  <div class="flex">
                    <img src="../../../assets/Icons/star.svg" alt="" />
                    <img src="../../../assets/Icons/star.svg" alt="" />
                    <img src="../../../assets/Icons/star.svg" alt="" />
                    <img src="../../../assets/Icons/star.svg" alt="" />
                    <img src="../../../assets/Icons/half star.svg" alt="" />
                  </div>
                  <p class="color-text text-sm">4.5 (1200 Reviews)</p>
                </div>
                <div
                  class="mt-6 flex flex-col gap-2 text-sm color-text leading-5"
                >
                  <p class="text-red-500">Non refundable</p>
                  <p>Check in: Sunday, March 18, 2022</p>
                  <p>Check out: Tuesday, March 20, 2022</p>
                  <p>2 night stay</p>
                </div>
              </div>

              <div class="flex flex-col gap-4 self-end mr-5">
                <div>
                  <p class="text-end text-xl font-medium">
                    <span class="text-red-500 text-sm mr-2 font-medium"
                      >$150</span
                    >$130
                  </p>
                  <p class="opacity-60">Includes taxes and fees</p>
                </div>
                <button class="py-2.5 px-5 bg-blue-500 text-white rounded-md">
                  View trip details
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="danger">
      <div class="container bg-amber-100 rounded-lg">
        <danger class="inline ml-7" />
        <p class="inline ml-3">
          Check the latest COVID-19 restrictions before you travel.
          <a href="#" class="text-blue-600">Learn more</a>
        </p>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script setup>
import Navbar from "../../../components/layout/Navbar/Navbar.vue";
import Footer from "../../../components/layout/Footer/Footer.vue";
import danger from "@/assets/icons/danger.svg";
</script>

<style scoped>
.wrapper {
  background-color: #f4f4f4;
}

.trip-card {
  width: 1030px;
  height: 240px;
}

.color-text {
  color: var(--Gray-1, #333);
}

span {
  text-decoration: line-through;
}

p {
  letter-spacing: 0.2px;
}
</style>
