<template>
  <div class="booking-nav h-52 relative">
    <div class="container">
      <nav class="text-white">
        <div class="flex items-center justify-between">
          <div>
            <Planew class="inline text-xl mb-1" />
            <p class="inline text-xl pl-2 font-medium">My Dream Place</p>
          </div>
          <div class="mr-8">
            <a href="">Home</a>
            <a class="ml-16" href="">Discover</a>
            <a class="ml-16" href="">Acivites</a>
            <a class="ml-16" href="">About</a>
            <a class="ml-16" href="">Contact</a>
          </div>
          <div class="flex items-center">
            <notification class="mr-1" />

            <Menu as="div" class="relative inline-block text-left z-50">
              <div>
                <MenuButton
                  class="realtive flex flex-row-reverse focus:outline-none focus-visible:ring-2 focus-visible:ring-white/75"
                >
                  <ProfilePicture />
                  <ChevronDownIcon
                    class="-mr-1 ml-2 h-5 w-5 text-violet-200 hover:text-violet-100"
                    aria-hidden="true"
                  />
                </MenuButton>
              </div>

              <transition
                enter-active-class="transition duration-100 ease-out"
                enter-from-class="transform scale-95 opacity-0"
                enter-to-class="transform scale-100 opacity-100"
                leave-active-class="transition duration-75 ease-in"
                leave-from-class="transform scale-100 opacity-100"
                leave-to-class="transform scale-95 opacity-0"
              >
                <MenuItems
                  class="absolute right-0 mt-2 w-56 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black/5 focus:outline-none"
                >
                  <div class="px-1 py-1">
                    <MenuItem v-slot="{ active }">
                      <button
                        :class="[
                          active ? 'bg-violet-500 text-white' : 'text-gray-900',
                          'group flex w-full items-center rounded-md px-2 py-2 text-sm border-b',
                        ]"
                      >
                        <img
                          src="../../../assets/Icons/user-square.svg"
                          :active="active"
                          class="mr-2 h-5 w-5 text-violet-400"
                          aria-hidden="true"
                        />
                        <p class="pl-2.5">Manage account</p>
                      </button>
                    </MenuItem>
                    <MenuItem v-slot="{ active }">
                      <button
                        :class="[
                          active ? 'bg-violet-500 text-white' : 'text-gray-900',
                          'group flex w-full items-center rounded-md px-2 py-2 text-sm ',
                        ]"
                      >
                        <PlaneTakeOff
                          :active="active"
                          class="mr-2 h-5 w-5 text-violet-400"
                          aria-hidden="true"
                        />
                        <p class="pl-2.5">My trips</p>
                      </button>
                    </MenuItem>
                  </div>
                  <div class="px-1 py-1">
                    <MenuItem v-slot="{ active }">
                      <button
                        :class="[
                          active ? 'bg-violet-500 text-white' : 'text-gray-900',
                          'group flex w-full items-center rounded-md px-2 py-2 text-sm border-b ',
                        ]"
                      >
                        <wallet
                          :active="active"
                          class="mr-2 h-5 w-5 text-violet-400"
                          aria-hidden="true"
                        />
                        <p class="pl-2.5">Reward and wallet</p>
                      </button>
                    </MenuItem>
                    <MenuItem v-slot="{ active }">
                      <button
                        @click="signout"
                        :class="[
                          active ? 'bg-violet-500 text-white' : 'text-gray-900',
                          'group flex w-full items-center rounded-md px-2 py-2 text-sm',
                        ]"
                      >
                        <logout
                          :active="active"
                          class="mr-2 h-5 w-5 text-violet-400"
                          aria-hidden="true"
                        />
                        <p class="pl-2.5">Sign out</p>
                      </button>
                    </MenuItem>
                  </div>
                </MenuItems>
              </transition>
            </Menu>
          </div>
        </div>
      </nav>
    </div>
    <SearchForm class="absolute left-96 -bottom-16 z-40" />
  </div>
  <div class="mt-20">
    <div class="container flex justify-between">
      <aside class="">
        <div class="background h-32 w-80 relative">
          <p class="text-search">Search by property name</p>
          <input
            class="pl-10 ml-4 h-11 w-60 rounded-md"
            type="search"
            placeholder="eg. Beach westpalm"
          />
          <search class="absolute bottom-7 left-7" />
        </div>
        <div class="my-7">
          <p class="fliter font-semibold ml-5">Filter by</p>
        </div>
        <div class="rounded-xl border-2">
          <div class="w-80 h-14 background rounded-t-lg">
            <p class="budget py-4 px-4">Your budget per day</p>
          </div>
          <div class="py-4 px-4 grid justify-between">
            <form class="grid justify-items-start gap-3">
              <div>
                <input class="w-5 h-5" type="checkbox" name="" id="" />
                <label for="" class="">
                  <p class="checklabel inline ml-2">$ 0 - $ 200</p>
                </label>
              </div>
              <div>
                <input
                  class="w-5 h-5 rounded-md"
                  type="checkbox"
                  name=""
                  id=""
                />
                <label for="" class="">
                  <p class="checklabel inline ml-2">$ 200 - $ 500</p>
                </label>
              </div>
              <div>
                <input
                  class="w-5 h-5 rounded-md"
                  type="checkbox"
                  name=""
                  id=""
                />
                <label for="" class="">
                  <p class="checklabel inline ml-2">$ 500 - $ 1000</p>
                </label>
              </div>
              <div>
                <input class="w-5 h-5" type="checkbox" name="" id="" />
                <label for="" class="">
                  <p class="checklabel inline ml-2">$ 1000 - $ 2000</p>
                </label>
              </div>
              <div>
                <input
                  class="w-5 h-5 rounded-md"
                  type="checkbox"
                  name=""
                  id=""
                />
                <label for="" class="">
                  <p class="checklabel inline ml-2">$ 2000 - $ 5000</p>
                </label>
              </div>
            </form>
          </div>
          <div class="pt-2 mb-5 flex">
            <p class="setOwn px-4">Set your own budget</p>
            <toggle class="ml-16 drop-shadow-xl" />
          </div>
          <form class="pb-4">
            <div class="flex items-center justify-center mb-2 gap-3">
              <input
                placeholder="Min budget"
                type="text"
                class="w-28 px-4 py-4 border-2 border-gray-400"
              />
              <input
                placeholder="Max budget"
                type="text"
                class="w-28 px-4 border-2 py-4 border-gray-400"
              />
            </div>
            <p class="enter-submit px-12">Press Enter to filter</p>
          </form>
        </div>
        <div class="rounded-xl border-solid border-2 mt-5">
          <div class="w-80 h-14 background rounded-t-lg">
            <p class="budget py-4 px-4">Rating</p>
          </div>
          <div class="py-4 px-3">
            <p class="star-text">Show only ratings more than</p>
            <div class="flex flex-row mb-2">
              <div
                class="border-solid rounded-l-lg border-2 px-3 py-3 flex gap-0.5"
              >
                <span class="text-xl">1</span>
                <img
                  class="inline"
                  src="../../../assets/Icons/star.svg"
                  alt=""
                />
              </div>
              <div
                class="border-solid border-y-2 broderl-0 px-3 py-3 flex gap-0.5"
              >
                <span class="text-xl">2</span>
                <img
                  class="inline"
                  src="../../../assets/Icons/star.svg"
                  alt=""
                />
              </div>
              <div
                class="border-solid border-y-2 border-x-2 px-3 py-3 flex gap-0.5"
              >
                <span class="text-xl">3</span>
                <img
                  class="inline"
                  src="../../../assets/Icons/star.svg"
                  alt=""
                />
              </div>
              <div class="border-solid border-y-2 px-3 py-3 flex gap-0.5">
                <span class="text-xl">4</span>
                <img
                  class="inline"
                  src="../../../assets/Icons/star.svg"
                  alt=""
                />
              </div>
              <div
                class="border-solid rounded-r-lg border-2 px-3 py-3 flex gap-0.5"
              >
                <span class="text-xl">5</span>
                <img
                  class="inline"
                  src="../../../assets/Icons/star.svg"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </aside>
      <div class="places flex-initial"></div>
    </div>
  </div>
  <div class="">
    <div class="danger mt-20">
      <div class="container bg-amber-100 rounded-lg">
        <danger class="inline ml-7" />
        <p class="danger-text inline ml-3">
          Check the latest COVID-19 restrictions before you travel.
          <a href="#" class="text-blue-600">Learn more</a>
        </p>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script setup>
import SearchForm from "@/components/SearchForm/SearchForm.vue";
import Planew from "@/assets/icons/Planew.svg";
import notification from "@/assets/icons/notification.svg";
import ProfilePicture from "./imgs/dude.svg";
import search from "@/assets/icons/search.svg";
import toggle from "@/assets/icons/toggel.svg";
import router from "@/router";
import PlaneTakeOff from "@/assets/icons/Plane-take-off.svg";
import logout from "@/assets/icons/logout.svg";
import wallet from "@/assets/icons/wallet.svg";
import danger from "@/assets/icons/danger.svg";
import Footer from "../../../components/layout/Footer/Footer.vue";

import { Menu, MenuButton, MenuItems, MenuItem } from "@headlessui/vue";

const isLoggedIn = window.localStorage.getItem("accessToken");

const signout = () => {
  window.localStorage.removeItem("accessToken");
  router.push({ name: "home" });
};
</script>

<style scoped>
.booking-nav {
  background: linear-gradient(180deg, #2969bf 0%, #144e9d 100%);
}

.background {
  background: var(--Gray-6, #f2f2f2);
}

.text-search {
  color: #181818;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  padding: 20px;
  letter-spacing: 0.16px;
}

.budget {
  color: #181818;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.16px;
}
.fliter {
  letter-spacing: 0.36px;
  font-size: 18px;
  color: #333;
}

input[type="text"] {
  width: 103px;
  height: 39px;
}
input[type="text"]::placeholder {
  font-size: 12px;
  color: #333;
  letter-spacing: 0.24px;
  font-weight: 400;
  line-height: 140%;
}

.checklabel {
  color: var(--Gray-1, #333);
  letter-spacing: 0.28px;
  font-size: 14px;
}
.setOwn {
  color: var(--Gray-2, #4f4f4f);
  font-size: 16px;
  letter-spacing: 0.28px;
}
.enter-submit {
  color: #4f4f4f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.24px;
}

.star-text {
  color: var(--Gray-2, #4f4f4f);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
  margin-bottom: 10px;
}

span {
  color: #333;
  letter-spacing: 0.32px;
}

.danger-text {
  color: var(--Gray-1, #333);
  font-size: 18px;
  letter-spacing: 0.32px;
}
</style>
