<template>
  <div
    class="bg-white max-w-5xl gap-2 rounded-md drop-shadow-md flex items-center justify-center my-6 mx-6 p-2"
  >
    <Listbox
      as="div"
      class="relative inline-block text-left w-full"
      v-model="destination"
    >
      <ListboxButton
        class="location w-full text-gray-400 justify-center rounded-md bg-gray-200 px-4 py-2 text-sm font-medium focus:outline-none focus-visible:ring-2 focus-visible:ring-white/75"
      >
        <div class="flex justify-between items-center">
          <location />

          {{ getDestinationName(destination) || "Where are you going ?" }}

          <arrow />
        </div>
      </ListboxButton>

      <transition
        enter-active-class="transition duration-100 ease-out"
        enter-from-class="transform scale-95 opacity-0"
        enter-to-class="transform scale-100 opacity-100"
        leave-active-class="transition duration-75 ease-in"
        leave-from-class="transform scale-100 opacity-100"
        leave-to-class="transform scale-95 opacity-0"
      >
        <ListboxOptions
          class="absolute z-40 right-0 mt-2 w-56 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black/5 focus:outline-none text-center"
        >
          <ListboxOption
            v-for="destinationOption in destinationOptions"
            v-slot="{ active, selected }"
            :key="destinationOption.value"
            :value="destinationOption.value"
          >
            <p
              :class="[
                'p-2 cursor-pointer',
                selected && 'text-blue-500',
                active && 'bg-blue-500 text-white rounded-md',
              ]"
            >
              {{ destinationOption.name }}
            </p>
          </ListboxOption>
        </ListboxOptions>
      </transition>
    </Listbox>

    <VueDatePicker
      format="yyyy-MM-dd"
      :enable-time-picker="false"
      placeholder="Check in date"
      input-class-name="datepicker"
      :min-date="new Date()"
      model-type="format"
      v-model="arrivalDate"
    >
      <template #input-icon>
        <img class="ml-2" src="../../assets/Icons/calendar 1.svg" alt="" />
      </template>
    </VueDatePicker>

    <VueDatePicker
      format="yyyy-MM-dd"
      :enable-time-picker="false"
      input-class-name="datepicker"
      :min-date="getMinDepartureDate(arrivalDate)"
      placeholder="Check Out date"
      model-type="format"
      v-model="departureDate"
    >
      <template #input-icon>
        <img class="ml-2" src="../../assets/Icons/calendar 1.svg" alt="" />
      </template>
    </VueDatePicker>

    <Listbox
      as="div"
      class="gutse-rooms location relative inline-block text-left w-full"
      v-model="numOfAdults"
    >
      <ListboxButton
        class="location realtive w-full text-gray-400 flex justify-between rounded-md bg-gray-200 px-4 py-2 text-sm font-medium"
      >
        <div class="flex justify-between items-center gap-1">
          <img src="../../assets/Icons/user-square-dark.svg" alt="" />

          {{ numOfAdults || "Guests" }}
        </div>
      </ListboxButton>

      <transition
        enter-active-class="transition duration-100 ease-out"
        enter-from-class="transform scale-95 opacity-0"
        enter-to-class="transform scale-100 opacity-100"
        leave-active-class="transition duration-75 ease-in"
        leave-from-class="transform scale-100 opacity-100"
        leave-to-class="transform scale-95 opacity-0"
      >
        <ListboxOptions
          class="absolute z-40 right-0 mt-2 w-36 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black/5 focus:outline-none text-center"
        >
          <ListboxOption v-slot="{ active, selected }" value="1">
            <p
              :class="[
                'p-2 cursor-pointer',
                selected && 'text-blue-500',
                active && 'bg-blue-500 text-white rounded-md',
              ]"
            >
              1
            </p>
          </ListboxOption>
        </ListboxOptions>
      </transition>
    </Listbox>

    <Listbox
      as="div"
      class="gutse-rooms location relative inline-block text-left w-full"
      v-model="numOfRooms"
    >
      <ListboxButton
        class="location realtive w-full text-gray-400 flex justify-between rounded-md bg-gray-200 px-4 py-2 text-sm font-medium"
      >
        <div class="flex justify-between items-center gap-1">
          <img src="../../assets/Icons/single-bed.svg" alt="" />

          {{ numOfRooms || "Rooms" }}
        </div>
      </ListboxButton>

      <transition
        enter-active-class="transition duration-100 ease-out"
        enter-from-class="transform scale-95 opacity-0"
        enter-to-class="transform scale-100 opacity-100"
        leave-active-class="transition duration-75 ease-in"
        leave-from-class="transform scale-100 opacity-100"
        leave-to-class="transform scale-95 opacity-0"
      >
        <ListboxOptions
          class="absolute z-40 right-0 mt-2 w-36 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black/5 focus:outline-none text-center"
        >
          <ListboxOption v-slot="{ active, selected }" value="1">
            <p
              :class="[
                'p-2 cursor-pointer',
                selected && 'text-blue-500',
                active && 'bg-blue-500 text-white rounded-md',
              ]"
            >
              1
            </p>
          </ListboxOption>
        </ListboxOptions>
      </transition>
    </Listbox>

    <button
      @click="redirectSearch"
      class="bg-blue-500 text-white rounded-md px-8 py-2"
    >
      Search
    </button>
  </div>
</template>

<style>
.location {
  background: #f2f2f2;
  border-radius: 4px;
}

.gutse-rooms {
  width: 500px;
}

.datepicker {
  border-radius: 4px;
  background: #f2f2f2;
  border: none;
}
</style>

<script setup>
import {
  Listbox,
  ListboxButton,
  ListboxOptions,
  ListboxOption,
} from "@headlessui/vue";
import { ref } from "vue";
import location from "@/assets/icons/location.svg";
import UserIcon from "@/assets/icons/user-square-dark.svg";
import arrow from "@/assets/icons/arrow.svg";
import VueDatePicker from "@vuepic/vue-datepicker";
import "@vuepic/vue-datepicker/dist/main.css";
import router from "@/router";
import { useSearchResultStore } from "@/stores/searchResult";
import {
  destinationOptions,
  getDestinationName,
} from "@/utilities/searchDestinations.js";

const props = defineProps({ handleSearch: Function });

const isLoggedIn = window.localStorage.getItem("accessToken");
const SearchResultStore = useSearchResultStore();

const destination = ref(SearchResultStore.searchQuery.destination);
const arrivalDate = ref(SearchResultStore.searchQuery.arrivalDate);
const departureDate = ref(SearchResultStore.searchQuery.departureDate);
const numOfAdults = ref(SearchResultStore.searchQuery.numOfAdults);
const numOfRooms = ref(SearchResultStore.searchQuery.numOfRooms);

const getMinDepartureDate = (arrivalDate) => {
  if (!arrivalDate) {
    return new Date();
  }

  const date = new Date(arrivalDate).getUTCDate();

  return new Date(new Date(arrivalDate).setUTCDate(date + 1));
};

const redirectSearch = () => {
  SearchResultStore.saveSearchQuery(
    destination.value,
    arrivalDate.value,
    departureDate.value,
    numOfAdults.value,
    numOfRooms.value
  );

  if (isLoggedIn) {
    if (router.currentRoute.value.name !== "search") {
      router.push({ name: "search" });
    } else if (props.handleSearch) {
      props.handleSearch();
    } else {
      SearchResultStore.getSearchResults();
    }
  } else {
    router.push({ name: "register" });
  }
};
</script>
