@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "main";
}
/* make it  */
.container {
  max-width: 1240px;
  /* width: 70%;  */
  margin: 0 auto;
  padding: 24px 16px;
}

.trip-home-img {
  width: 100%;
  height: 280px;
}

.img-phone {
  top: 80px;
  left: 44%;
  filter: brightness(1.1);
}

.copyright {
  top: 8px;
}

.datepicker {
  background-color: blue;
}
