<template>
  <Navbar />
  <div class="wrapper">
    <div class="container">
      <div class="flex">
        <h1></h1>
        <div>
          <img src="" alt="d" />
        </div>
        <div class="flex">
          <img src="" alt="" />
          <img src="" alt="" />
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="container">
      <div class="flex">
        <div></div>
        <div class="iframe"></div>
      </div>
      <div>
        <p></p>
      </div>
      <div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="danger mt-20">
      <div class="container bg-amber-100 rounded-lg">
        <danger class="inline ml-7" />
        <p class="danger-text inline ml-3">
          Check the latest COVID-19 restrictions before you travel.
          <a href="#" class="text-blue-600">Learn more</a>
        </p>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script setup>
import Navbar from "../../../components/layout/Navbar/Navbar.vue";
import Footer from "../../../components/layout/Footer/Footer.vue";
import danger from "@/assets/icons/danger.svg";

const isLoggedIn = window.localStorage.getItem("accessToken");

const signout = () => {
  window.localStorage.removeItem("accessToken");
  router.push({ name: "home" });
};
</script>

<style scoped>
.wrapper {
  background: #f4f4f4;
}

.danger-text {
  color: var(--Gray-1, #333);
  font-size: 18px;
  letter-spacing: 0.32px;
}
</style>
