<template>
  <div>
    <div class="container">
      <nav class="">
        <div class="flex items-center justify-between">
          <div>
            <Planew class="inline text-xl mb-1" />
            <p class="inline text-xl pl-2 font-medium">My Dream Place</p>
          </div>

          <div class="flex items-center">
            <notification class="mr-1" />

            <Menu as="div" class="relative inline-block text-left z-50">
              <div>
                <MenuButton
                  class="realtive flex flex-row-reverse focus:outline-none focus-visible:ring-2 focus-visible:ring-white/75"
                >
                  <ProfilePicture />
                  <ChevronDownIcon
                    class="-mr-1 ml-2 h-5 w-5 text-violet-200 hover:text-violet-100"
                    aria-hidden="true"
                  />
                </MenuButton>
              </div>

              <transition
                enter-active-class="transition duration-100 ease-out"
                enter-from-class="transform scale-95 opacity-0"
                enter-to-class="transform scale-100 opacity-100"
                leave-active-class="transition duration-75 ease-in"
                leave-from-class="transform scale-100 opacity-100"
                leave-to-class="transform scale-95 opacity-0"
              >
                <MenuItems
                  class="absolute right-0 mt-2 w-56 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black/5 focus:outline-none"
                >
                  <div class="px-1 py-1">
                    <MenuItem v-slot="{ active }">
                      <button
                        :class="[
                          active ? 'bg-violet-500 text-white' : 'text-gray-900',
                          'group flex w-full items-center rounded-md px-2 py-2 text-sm border-b',
                        ]"
                      >
                        <img
                          src="../../../assets/Icons/user-square.svg"
                          :active="active"
                          class="mr-2 h-5 w-5 text-violet-400"
                          aria-hidden="true"
                        />
                        <p class="pl-2.5">Manage account</p>
                      </button>
                    </MenuItem>
                    <MenuItem v-slot="{ active }">
                      <button
                        :class="[
                          active ? 'bg-violet-500 text-white' : 'text-gray-900',
                          'group flex w-full items-center rounded-md px-2 py-2 text-sm ',
                        ]"
                      >
                        <PlaneTakeOff
                          :active="active"
                          class="mr-2 h-5 w-5 text-violet-400"
                          aria-hidden="true"
                        />
                        <p class="pl-2.5">My trips</p>
                      </button>
                    </MenuItem>
                  </div>
                  <div class="px-1 py-1">
                    <MenuItem v-slot="{ active }">
                      <button
                        :class="[
                          active ? 'bg-violet-500 text-white' : 'text-gray-900',
                          'group flex w-full items-center rounded-md px-2 py-2 text-sm border-b ',
                        ]"
                      >
                        <wallet
                          :active="active"
                          class="mr-2 h-5 w-5 text-violet-400"
                          aria-hidden="true"
                        />
                        <p class="pl-2.5">Reward and wallet</p>
                      </button>
                    </MenuItem>
                    <MenuItem v-slot="{ active }">
                      <button
                        @click="signout"
                        :class="[
                          active ? 'bg-violet-500 text-white' : 'text-gray-900',
                          'group flex w-full items-center rounded-md px-2 py-2 text-sm',
                        ]"
                      >
                        <logout
                          :active="active"
                          class="mr-2 h-5 w-5 text-violet-400"
                          aria-hidden="true"
                        />
                        <p class="pl-2.5">Sign out</p>
                      </button>
                    </MenuItem>
                  </div>
                </MenuItems>
              </transition>
            </Menu>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="wrapper">
    <div class="container">
      <div class="mt-6">
        <h1 class="secure-txet">Secure your reservation</h1>
      </div>
    </div>

    <div class="danger mt-6">
      <div class="container bg-amber-100 rounded-lg">
        <danger class="inline ml-7" />
        <p class="danger-text inline ml-3">
          Check the latest COVID-19 restrictions before you travel.
          <a href="#" class="text-blue-600">Learn more</a>
        </p>
      </div>
    </div>

    <div class="mt-6">
      <div class="flex container gap-12">
        <div class="card">
          <div
            class="contact-text rounded-t-lg flex itmes-center gap-3 py-4 px-5 text-white"
          >
            <img src="../../../assets/Icons/security-user.svg" alt="" />
            <p class="text-lg font-medium tracking-wide">Room 1</p>
            <p class="font-medium tracking-wide self-center">
              2 adults, 1 double bed and 1 twin bed, Non-smoking
            </p>
          </div>
          <div class="from-wrapper rounded-b-lg">
            <form class="p-8">
              <div class="flex gap-5">
                <div class="flex flex-col gap-1">
                  <label class="font-medium tracking-wide color-text"
                    >Frist name</label
                  >
                  <input class="background-input rounded p-3" type="text" />
                </div>
                <div class="flex flex-col gap-1">
                  <label class="font-medium tracking-wide color-text"
                    >Last name</label
                  >
                  <input class="background-input rounded p-3" type="text" />
                </div>
              </div>
              <div class="mobile flex flex-col gap-1 mt-5">
                <p class="color-text">Mobile number</p>
                <div class="relative flex gap-2">
                  <select
                    class="background-input rounded p-3 w-40"
                    name="cars"
                    id="cars"
                  >
                    <option value="mercedes">🇦🇺 &nbsp; +61</option>
                    <option value="volvo">🇪🇬 &nbsp; +20</option>
                    <option value="saab">🇩🇪 &nbsp; +49</option>
                    <option value="audi">🇫🇷 &nbsp; +33</option>
                  </select>
                  <img
                    class="arrow"
                    src="../../../assets/Icons/arrow.svg"
                    alt=""
                  />
                  <input
                    class="background-input rounded p-3 w-80"
                    inputmode="numeric"
                  />
                </div>
              </div>
              <div class="mt-5 flex gap-3">
                <input type="checkbox" />
                <p class="textalert font-light">
                  Receive text alerts about this trip.
                </p>
              </div>
            </form>
          </div>
          <div
            class="mt-7 contact-text rounded-t-lg flex itmes-center gap-3 py-4 px-5 text-white"
          >
            <img src="../../../assets/Icons/card-tick.svg" alt="" />
            <p class="text-lg font-medium tracking-wide">Payment options</p>
          </div>
          <div class="from-wrapper rounded-b-lg">
            <div class="debit h-12 border-b-2 relative">
              <div class="debit-text">
                <p class="text-card color-text">Debit/Credit Card</p>
              </div>
            </div>
            <div class="p-8">
              <div class="flex flex-row gap-2">
                <div class="card-holder flex justify-center items-center">
                  <img src="./imgs/mastercard.png" alt="" />
                </div>
                <div class="card-holder flex justify-center items-center">
                  <img src="./imgs/visa.png" alt="" />
                </div>
                <div class="card-holder flex justify-center items-center">
                  <img src="./imgs/americaE.png" alt="" />
                </div>
                <div class="card-holder flex justify-center items-center">
                  <img src="./imgs/discover.png" alt="" />
                </div>
              </div>
            </div>
            <form>
              <div class="flex">
                <div class="flex flex-col mt-4 pl-8 gap-1">
                  <label class="font-medium tracking-wide color-text"
                    >Name on card</label
                  >
                  <div class="flex gap-5">
                    <input class="card-name-input p-3" type="text" />
                    <img
                      class="self-center"
                      src="../../../assets/Icons/tick-circle.svg"
                      alt=""
                    />
                  </div>
                </div>
              </div>

              <div class="flex flex-col mt-4 pl-8 gap-1">
                <label class="font-medium tracking-wide color-text"
                  >Debit/Credit card number</label
                >
                <div class="flex gap-5">
                  <input class="card-name-input p-3" type="text" />
                  <img
                    class="self-center"
                    src="../../../assets/Icons/tick-circle.svg"
                    alt=""
                  />
                </div>
              </div>
              <div class="flex flex-col mt-4 pl-8 gap-1">
                <label class="font-medium tracking-wide color-text"
                  >Expiration Date</label
                >
                <div class="flex flex-row gap-3">
                  <div class="relative">
                    <select
                      class="background-input rounded p-3 w-40"
                      name="cars"
                      id="cars"
                    >
                      <option value="1">January</option>
                      <option value="2">February</option>
                      <option value="3">March</option>
                      <option value="4">April</option>
                      <option value="5">May</option>
                      <option value="6">June</option>
                      <option value="7">July</option>
                      <option value="8">August</option>
                      <option value="9">September</option>
                      <option value="10">October</option>
                      <option value="11">November</option>
                      <option value="12">December</option>
                    </select>
                    <img
                      class="arrow-date"
                      src="../../../assets/Icons/arrow.svg"
                      alt=""
                    />
                  </div>
                  <div class="relative">
                    <select
                      class="background-input rounded p-3 w-40"
                      name="cars"
                      id="cars"
                    >
                      <option value="">2024</option>
                      <option value="">2025</option>
                      <option value="">2026</option>
                      <option value="">2027</option>
                    </select>
                    <img
                      class="arrow-date"
                      src="../../../assets/Icons/arrow.svg"
                      alt=""
                    />
                  </div>
                  <img
                    class="self-center"
                    src="../../../assets/Icons/tick-circle.svg"
                    alt=""
                  />
                </div>
              </div>
              <div class="flex mt-4 pl-8 gap-5 pb-8">
                <div class="flex flex-col">
                  <label class="font-medium tracking-wide color-text"
                    >Security Code</label
                  >
                  <input class="security-code p-3" type="text" />
                </div>
                <div class="flex flex-col">
                  <label class="font-medium tracking-wide color-text"
                    >Security Code</label
                  >
                  <div class="flex flex-row gap-5">
                    <input class="security-code p-3" type="text" />
                    <img
                      class="self-center"
                      src="../../../assets/Icons/tick-circle.svg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="mt-7 content-imoprtant rounded-t-lg py-4 px-5">
            <p class="font-medium tracking-wide text-lg">
              Important information about your booking
            </p>
          </div>
          <div class="from-wrapper rounded-b-lg">
            <div class="p-5 flex flex-col items-start gap-7">
              <div class="information-text">
                <p>
                  1. This rate is non-refundable. If you change or cancel your
                  booking you will not get a refund or credit to use for a
                  <span class="ml-4">future stay.</span>
                </p>
                <p>2. Stay extensions will require a new reservation.</p>
                <p>3. Front desk staff will greet guests on arrival</p>
                <p>
                  4. No refunds will be issued for late check-in or early
                  check-out.
                </p>
              </div>
              <div class="information-text-rules mt-4">
                <p>
                  By clicking the button below, I acknowledge that I have
                  reviewed the
                  <span class="text-blue-600">Privacy Statement</span> and have
                  reviewd and accept the
                  <span class="text-blue-600">Rules and Restrictions</span> and
                  <span class="text-blue-600">Terms of Use.</span>
                </p>
              </div>
              <button
                class="px-5 py-3 bg-blue-500 rounded-md text-white font-medium"
              >
                Complete Booking
              </button>
              <div class="flex gap-3">
                <img src="../../../assets/Icons/lock-circle.svg" alt="" />
                <p class="color-text">
                  We use secure transmission and encrypted storage to protect
                  your personal information
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="room">
          <div class="rounded-md">
            <img src="./imgs/house.png" alt="" />
            <div class="room-wrapper bg-white p-5">
              <p class="text-lg font-medium">Lakeside Motel Warefront</p>
              <div class="flex gap-2 mt-2">
                <div class="flex">
                  <img src="../../../assets/Icons/star.svg" alt="" />
                  <img src="../../../assets/Icons/star.svg" alt="" />
                  <img src="../../../assets/Icons/star.svg" alt="" />
                  <img src="../../../assets/Icons/star.svg" alt="" />
                  <img src="../../../assets/Icons/half star.svg" alt="" />
                </div>
                <p class="color-text text-sm">4.5 (1200 Reviews)</p>
              </div>
              <div
                class="mt-6 flex flex-col gap-2 text-sm color-text leading-5"
              >
                <p class="text-red-500">Non refundable</p>
                <p>Check in: Sunday, March 18, 2022</p>
                <p>Check out: Tuesday, March 20, 2022</p>
                <p>2 night stay</p>
              </div>
            </div>
          </div>
          <div class="mt-5">
            <div class="price-wrapper py-4 px-5 rounded-t-lg font-medium">
              <p>Price Details</p>
            </div>
            <div class="room-wrapper bg-white p-5 border-b-2">
              <div class="flex flex-col gap-3 text-sm color-text tracking-wide">
                <div class="flex justify-between">
                  <p>1 room X 2 nights</p>
                  <p>$ 120.32</p>
                </div>
                <div class="flex justify-between">
                  <p>tracking-wide</p>
                  <p>$ 8.32</p>
                </div>
              </div>
            </div>
            <div
              class="room-wrapper bg-white py-6 px-5 flex justify-between text-xl font-medium"
            >
              <p>Total</p>
              <p>$130</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import Planew from "@/assets/icons/plane-blue.svg";
import notification from "@/assets/icons/notification.svg";
import ProfilePicture from "../BookingPage/imgs/dude.svg";
import PlaneTakeOff from "@/assets/icons/Plane-take-off.svg";
import logout from "@/assets/icons/logout.svg";
import wallet from "@/assets/icons/wallet.svg";
import danger from "@/assets/icons/danger.svg";
import { Menu, MenuButton, MenuItems, MenuItem } from "@headlessui/vue";
import router from "@/router";

const isLoggedIn = window.localStorage.getItem("accessToken");

const signout = () => {
  window.localStorage.removeItem("accessToken");
  router.push({ name: "home" });
};
</script>

<style scoped>
nav {
  height: 68px;
}
.wrapper {
  background-color: #f4f4f4;
}

.secure-txet {
  color: #1a1a1a;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.32px;
}
.contact-text {
  background: var(--Blue-1, #2f80ed);
  width: 890px;
}

.content-imoprtant {
  background-color: #f2c94c;
}

.color-text {
  color: var(--Gray-1, #333);
}

.from-wrapper {
  background-color: #fff;
}

.background-input {
  background: var(--Gray-6, #f2f2f2);
}

select {
  -moz-appearance: none;
}

.arrow {
  position: absolute;
  top: 33%;
  left: 17%;
}
.debit {
  height: 48px;
}

.debit-text {
  position: absolute;
  left: 48px;
  top: 12px;
}

.text-card {
  position: relative;
}

.text-card::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 136px;
  background-color: #2f80ed;
  bottom: -11px;
  left: -9px;
}

.card-holder {
  width: 60px;
  height: 40px;
  background-color: #f2f2f2;
  border-radius: 5px;
}
.card-name-input {
  width: 500px;
  height: 44px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.arrow-date {
  position: absolute;
  top: 16px;
  right: 16px;
}
.security-code {
  width: 240px;
  height: 44px;
  border-radius: 4px;
  background: var(--Gray-6, #f2f2f2);
}

.information-text {
  width: 790px;
  color: var(--Gray-1, #333);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.3px;
}

.information-text-rules {
  width: 790px;
  color: var(--Gray-1, #333);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.3px;
}
.price-wrapper {
  background: #85e0ab;
  letter-spacing: 0.16px;
}
</style>
