<template>
  <div class="danger mt-20">
    <div class="container bg-amber-100 rounded-lg flex gap-4">
      <danger class="inline ml-7" />
      <p class="inline danger-text">
        Check the latest COVID-19 restrictions before you travel.
        <a href="#" class="text-blue-600">Learn more</a>
      </p>
    </div>
  </div>
</template>

<script setup>
import danger from "@/assets/icons/danger.svg";
</script>

<style>
.danger-text {
  color: var(--Gray-1, #333);
  font-size: 18px;
  letter-spacing: 0.32px;
}
</style>
