<template>
  <footer class="mt-5">
    <div class="container grid grid-cols-5 justify-between">
      <div>
        <div flex flex-col gap-8>
          <Plane class="inline text-xl mb-1" />
          <p class="inline text-xl pl-2 font-medium">My Dream Place</p>
        </div>
        <p class="ml-8 text-sm w-3/4 text-style">
          your next goto companinon for travel
        </p>
      </div>

      <div>
        <p class="text-xl font-medium mb-4">Company</p>
        <ul class="text-sm font-light leading-7 text-style">
          <li>About</li>
          <li>Jobs</li>
          <li>Newsroom</li>
          <li>Advertising</li>
          <li>Contact us</li>
        </ul>
      </div>

      <div>
        <p class="text-xl font-medium mb-4">Explore</p>
        <ul class="text-sm font-light leading-7 text-style">
          <li>Australia</li>
          <li>New Zealand</li>
          <li>United States America (USA)</li>
          <li>Greece</li>
          <li>Maldives</li>
          <li>Singapore</li>
          <li class="text-blue-800">See more</li>
        </ul>
      </div>

      <div>
        <p class="text-xl font-medium mb-4">Terms and Policies</p>
        <ul class="text-sm font-light leading-7 text-style">
          <li>Privacy Policy</li>
          <li>Terms of use</li>
          <li>Acessibility</li>
          <li>Reward system policy</li>
        </ul>
      </div>

      <div>
        <p class="text-xl font-medium mb-4">Help</p>
        <ul class="text-sm font-light leading-7 text-style">
          <li>Support</li>
          <li>Cancel your bookings</li>
          <li>Use Coupon</li>
          <li>Refund Policies</li>
          <li>International Travel Documents</li>
        </ul>
      </div>
    </div>

    <div class="bg-gray-200 h-10 relative">
      <div class="copyright text-right absolute">
        <img src="../../../assets/Icons/copyright.svg" class="inline mr-2" />
        <p class="inline text-sm font-light text-style">my Dream Place 2022</p>
      </div>
    </div>
  </footer>
</template>

<script setup>
import Plane from "@/assets/icons/Plane.svg";
</script>

<style scoped>
.text-style {
  color: var(--Gray-2, #4f4f4f);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.28px;
}
.copyright {
  @apply w-4/5 mx-auto;
}
</style>
