<template>
  <Navbar class="mb-5" />

  <div v-if="HotelInfoStore.loading">
    <div class="container">Loading.....</div>
  </div>
  <div v-else>
    <div class="wrapper-landing">
      <div class="container">
        <div class="">
          <div class="flex gap-8">
            <div class="flex-1">
              <img class="w-full img-overview" src="./img/kitchen.png" alt="" />
            </div>
            <div class="flex flex-col gap-7">
              <img src="./img/house-front.png" alt="" />
              <img src="./img/garden.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="h-12 bg-white border-b-2">
      <div class="container relative">
        <div class="absolute flex gap-7 text-loc">
          <p class="text-gray-700 tracking-wide line-under">Overview</p>
          <p class="text-gray-700 tracking-wide">Rooms</p>
        </div>
      </div>
    </div>

    <div class="background-wrapper">
      <div class="container">
        <div class="flex py-5 gap-8">
          <div class="info flex-1">
            <div class="flex flex-col gap-3">
              <p class="text-3xl font-semibold tracking-wide">
                {{ HotelInfoStore.hotelInfo.hotel_name }}
              </p>
              <div class="satrs-holder">
                <div class="flex gap-2 mt-2">
                  <div class="flex">
                    <img src="../../../assets/Icons/star.svg" alt="" />
                    <img src="../../../assets/Icons/star.svg" alt="" />
                    <img src="../../../assets/Icons/star.svg" alt="" />
                    <img src="../../../assets/Icons/star.svg" alt="" />
                    <img src="../../../assets/Icons/half-star.svg" alt="" />
                  </div>
                  <p class="color-text text-sm">4.5 (1200 Reviews)</p>
                </div>
              </div>
              <div class="flex gap-2">
                <img src="../../../assets/Icons/location-blue.svg" alt="" />
                <p>{{ HotelInfoStore.hotelInfo.address }}</p>
              </div>
            </div>

            <div class="bg-white w-full mt-7 rounded-md">
              <div class="flex flex-col py-6 px-8 gap-8">
                <p class="text-lg font-medium tracking-wide">Overviwe</p>
                <p class="text-color2">
                  Featuring free WiFi throughout the property, Lakeside Motel
                  Waterfront offers accommodations in Lakes Entrance, 19 mi from
                  Bairnsdale. Free private parking is available on site.
                </p>
                <p class="text-color2">
                  Each room at this motel is air conditioned and comes with a
                  flat-screen TV. You will find a kettle, toaster and a
                  microwave in the room. Each room is fitted with a private
                  bathroom. Guests have access to barbecue facilities and a
                  lovely large lawn area. Metung is 6.8 mi from Lakeside Motel
                  Waterfront, while Paynesville is 14 mi from the property.
                </p>
                <p class="text-color2">
                  Couples in particular like the location – they rated it 9.2
                  for a two-person trip.
                </p>
              </div>
              <hr />
              <div class="mt-5 flex flex-col py-6 px-7 gap-7">
                <p class="text-lg font-medium tracking-wide">Top facilities</p>
                <div class="flex gap-44">
                  <div class="flex flex-col gap-5 text-color2">
                    <div class="flex gap-3">
                      <img src="../../../assets/Icons/wifi-free.svg" alt="" />
                      <p class="w-full">Free wifi</p>
                    </div>
                    <div class="flex gap-3">
                      <img src="../../../assets/Icons/air.svg" alt="" />
                      <p class="w-full">Air Conditioning</p>
                    </div>
                    <div class="flex gap-3">
                      <img src="../../../assets/Icons/car.svg" alt="" />
                      <p class="w-full">Parking available</p>
                    </div>
                  </div>
                  <div class="flex flex-col gap-5 text-color2">
                    <div class="flex gap-3">
                      <img src="../../../assets/Icons/lock.svg" alt="" />
                      <p class="w-full">Business Services</p>
                    </div>
                    <div class="flex gap-3">
                      <img src="../../../assets/Icons/ball.svg" alt="" />
                      <p class="w-full">Swimming pool</p>
                    </div>
                    <div class="flex gap-3">
                      <img src="../../../assets/Icons/like.svg" alt="" />
                      <p class="w-full">Top rated in area</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <aside>
            <div class="flex flex-col gap-9">
              <iframe
                src="https://www.google.com/maps/@25.565409,28.4689896,7.58z?entry=ttu"
                frameborder="0"
              ></iframe>
              <div class="flex flex-col gap-3">
                <p class="text-lg font-medium tracking-wide">
                  Explore the area
                </p>
                <div class="flex justify-between text-color2">
                  <div class="flex gap-3">
                    <img src="../../../assets/Icons/plane-dark.svg" alt="" />
                    <p class="w-full">Hotel Penselvenyia</p>
                  </div>
                  2 min drive
                </div>
                <div class="flex justify-between text-color2">
                  <div class="flex gap-3">
                    <img src="../../../assets/Icons/map-loc.svg" alt="" />
                    <p class="w-full">Travis Bakery store house</p>
                  </div>
                  10 min drive
                </div>
                <div class="flex justify-between text-color2">
                  <div class="flex gap-3">
                    <img src="../../../assets/Icons/map-loc.svg" alt="" />
                    <p class="w-full">Olivia Johnson Garden</p>
                  </div>
                  15 min drive
                </div>
                <div class="flex justify-between text-color2">
                  <div class="flex gap-3">
                    <img src="../../../assets/Icons/map-loc.svg" alt="" />
                    <p class="w-full">Norman Opera Circus</p>
                  </div>
                  18 min drive
                </div>
                <div class="flex justify-between text-color2">
                  <div class="flex gap-3">
                    <img src="../../../assets/Icons/map-loc.svg" alt="" />
                    <p class="w-full">Rockdeset hotel</p>
                  </div>
                  32 min drive
                </div>
              </div>
            </div>
          </aside>
        </div>
      </div>

      <div class="container flex flex-col gap-4">
        <p class="text-2xl font-semibold">Available rooms</p>
        <div class="flex gap-3">
          <div class="flex coupon p-7">
            <div class="flex flex-col gap-4 self-center mb-7 mr-2">
              <div class="flex gap-1">
                <Planew class="w-6 h-6" />
                <p class="text-white text-l">My Dream Place</p>
              </div>
              <p class="text-white font-bold text-2xl">
                20% off Use Promotional Coupon Code:
                <span class="text-yellow-400">Orlando</span>
              </p>
            </div>
            <img src="./img/man-case.PNG" alt="" />
          </div>
          <div class="flex flex-col bg-white rounded-b-lg">
            <img src="./img/bedroom.PNG" alt="" />
            <div class="px-3 py-5">
              <p class="text-l font-medium">Standard twin ben, Multiple beds</p>
            </div>
            <div class="px-3 pb-5 text-gray-500 text-sm flex flex-col gap-2">
              <div class="flex gap-4">
                <img src="../../../assets/Icons/lock-gray.svg" alt="" />
                300sq fr
              </div>
              <div class="flex gap-4">
                <img src="../../../assets/Icons/ball-gray.svg" alt="" />
                Sleeps 3
              </div>
              <div class="flex gap-4">
                <img src="../../../assets/Icons/like-gray.svg" alt="" />
                1 double bed and 1 twin bed
              </div>
            </div>
            <div class="px-3 py-5">
              <button
                class="px-12 py-3 w-full bg-blue-500 text-white rounded-md"
                @click="goToPayment"
              >
                Reserve suite
              </button>
            </div>
          </div>
          <div class="flex flex-col bg-white rounded-b-lg">
            <img src="./img/bad-queen.PNG" alt="" />
            <div class="px-3 py-5">
              <p class="text-l font-medium">Standard twin ben, Multiple beds</p>
            </div>
            <div class="px-3 pb-5 text-gray-500 text-sm flex flex-col gap-2">
              <div class="flex gap-4">
                <img src="../../../assets/Icons/lock-gray.svg" alt="" />
                300sq fr
              </div>
              <div class="flex gap-4">
                <img src="../../../assets/Icons/ball-gray.svg" alt="" />
                Sleeps 3
              </div>
              <div class="flex gap-4">
                <img src="../../../assets/Icons/like-gray.svg" alt="" />
                1 double bed and 1 twin bed
              </div>
            </div>
            <div class="px-3 py-5">
              <button
                class="px-12 py-3 w-full bg-blue-500 text-white rounded-md"
                @click="goToPayment"
              >
                Reserve suite
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="danger mt-20">
        <div class="container bg-amber-100 rounded-lg">
          <danger class="inline ml-7" />
          <p class="danger-text inline ml-3">
            Check the latest COVID-19 restrictions before you travel.
            <a href="#" class="text-blue-600">Learn more</a>
          </p>
        </div>
      </div>
      <Footer />
    </div>
  </div>
</template>

<script setup>
import { defineProps, watch } from "vue";

import Navbar from "@/components/layout/Navbar/Navbar.vue";
import Footer from "@/components/layout/Footer/Footer.vue";
import danger from "@/assets/icons/danger.svg";
import Planew from "@/assets/icons/Planew.svg";
import { useHotelInfo } from "@/stores/hotelInfo";
import router from "@/router";

const props = defineProps({
  id: String,
  arrivalDate: String,
  departureDate: String,
});

const HotelInfoStore = useHotelInfo();

const goToPayment = () => {
  router.push({ name: "payment" });
};

HotelInfoStore.getHotelInfo(props.id, props.arrivalDate, props.departureDate);

watch([HotelInfoStore], ([NewHotelInfoStore]) => {
  console.dir(NewHotelInfoStore.hotelInfo);
});
</script>

<style scoped>
.wrapper-landing {
  background-image: linear-gradient(to bottom, #f4f4f4, #fff);
}

.danger-text {
  color: var(--Gray-1, #333);
  font-size: 18px;
  letter-spacing: 0.32px;
}

.background-wrapper {
  background: #f4f4f4;
}

.img-overview {
  height: 100%;
}

.text-loc {
  top: 10px;
}

.line-under::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 90px;
  background-color: #2f80ed;
  bottom: -13px;
  left: -12px;
}

.text-color2 {
  color: var(--Gray-2, #4f4f4f);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  /* 22.4px */
  letter-spacing: 0.32px;
}

iframe {
  width: 400px;
  height: 240px;
}

.coupon {
  border-radius: 6px;
  background: linear-gradient(180deg, #4796ff 0%, #2366bf 100%);
  width: 400px;
  height: 340px;
}

.coupon img {
  width: 177px;
  height: 291px;
}
</style>
