<template>
  <nav>
    <div class="container flex items-center justify-between">
      <div
        @click="redirectHome"
        :class="[
          'nav-plane cursor-pointer',
          props.whiteVariant && 'white-variant',
        ]"
      >
        <Plane
          class="inline w-6 h-6 mb-1"
          :fill="props.whiteVariant ? '#FFFFFF' : '#2F80ED'"
        />
        <p class="inline text-xl pl-2 font-medium">My Dream Place</p>
      </div>

      <div
        :class="[
          'nav-links flex gap-12 text-base',
          props.whiteVariant && 'white-variant',
        ]"
      >
        <a href="#">Home</a>
        <a href="#">Discover</a>
        <a href="#">Acivites</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
      </div>

      <div v-if="isLoggedIn">
        <div class="flex items-center gap-5">
          <notification
            class="mr-1"
            :fill="props.whiteVariant ? '#FFFFFF' : '#828282'"
          />

          <Menu as="div" class="relative inline-block text-left z-50">
            <div>
              <MenuButton
                class="realtive flex flex-row-reverse focus:outline-none focus-visible:ring-2 focus-visible:ring-white/75"
              >
                <ProfilePicture />
              </MenuButton>
            </div>

            <transition
              enter-active-class="transition duration-100 ease-out"
              enter-from-class="transform scale-95 opacity-0"
              enter-to-class="transform scale-100 opacity-100"
              leave-active-class="transition duration-75 ease-in"
              leave-from-class="transform scale-100 opacity-100"
              leave-to-class="transform scale-95 opacity-0"
            >
              <MenuItems
                class="absolute right-0 mt-2 w-56 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black/5 focus:outline-none"
              >
                <div class="px-1 py-1">
                  <MenuItem v-slot="{ active }">
                    <button
                      :class="[
                        active ? 'bg-violet-500 text-white' : 'text-gray-900',
                        'group flex w-full items-center rounded-md px-2 py-2 text-sm border-b',
                      ]"
                    >
                      <img
                        src="../../../assets/Icons/user-square.svg"
                        :active="active"
                        class="mr-2 h-5 w-5 text-violet-400"
                        aria-hidden="true"
                      />
                      <p class="pl-2.5">Manage account</p>
                    </button>
                  </MenuItem>
                  <MenuItem v-slot="{ active }">
                    <button
                      :class="[
                        active ? 'bg-violet-500 text-white' : 'text-gray-900',
                        'group flex w-full items-center rounded-md px-2 py-2 text-sm ',
                      ]"
                    >
                      <PlaneTakeOff
                        :active="active"
                        class="mr-2 h-5 w-5 text-violet-400"
                        aria-hidden="true"
                      />
                      <p class="pl-2.5">My trips</p>
                    </button>
                  </MenuItem>
                </div>
                <div class="px-1 py-1">
                  <MenuItem v-slot="{ active }">
                    <button
                      :class="[
                        active ? 'bg-violet-500 text-white' : 'text-gray-900',
                        'group flex w-full items-center rounded-md px-2 py-2 text-sm border-b ',
                      ]"
                    >
                      <wallet
                        :active="active"
                        class="mr-2 h-5 w-5 text-violet-400"
                        aria-hidden="true"
                      />
                      <p class="pl-2.5">Reward and wallet</p>
                    </button>
                  </MenuItem>
                  <MenuItem v-slot="{ active }">
                    <button
                      @click="signout"
                      :class="[
                        active ? 'bg-violet-500 text-white' : 'text-gray-900',
                        'group flex w-full items-center rounded-md px-2 py-2 text-sm',
                      ]"
                    >
                      <logout
                        :active="active"
                        class="mr-2 h-5 w-5 text-violet-400"
                        aria-hidden="true"
                      />
                      <p class="pl-2.5">Sign out</p>
                    </button>
                  </MenuItem>
                </div>
              </MenuItems>
            </transition>
          </Menu>
        </div>
      </div>
      <div v-else>
        <RouterLink
          to="/auth/login"
          class="nav-login text-white py-3 px-5 rounded-md"
        >
          Login
        </RouterLink>
      </div>
    </div>
  </nav>
</template>

<script setup>
import { ref } from "vue";
import Plane from "@/assets/icons/Plane.svg";
import notification from "@/assets/icons/notification.svg";
import ProfilePicture from "./imgs/dude.svg";
import { Menu, MenuButton, MenuItems, MenuItem } from "@headlessui/vue";
import PlaneTakeOff from "@/assets/icons/Plane-take-off.svg";
import logout from "@/assets/icons/logout.svg";
import user from "@/assets/icons/user-square.svg";
import wallet from "@/assets/icons/wallet.svg";
import router from "@/router";

const props = defineProps({ whiteVariant: Boolean });

const isLoggedIn = ref(window.localStorage.getItem("accessToken"));

const signout = () => {
  window.localStorage.removeItem("accessToken");
  window.localStorage.removeItem("welcomeModalHidden");

  isLoggedIn.value = false;

  if (router.currentRoute.value.name !== "home") {
    redirectHome();
  }
};

const redirectHome = () => {
  router.push({ name: "home" });
};
</script>

<style scoped>
nav {
  height: 68px;
}

.nav-plane {
  color: #1b1f2d;
}

.nav-links {
  color: #333333;
}

.nav-login {
  background-color: #2f80ed;
  width: 82px;
  height: 40px;
  font-size: 15px;
}

.white-variant {
  color: white;
}
</style>
