<template>
  <Navbar />

  <div v-if="isLoggedIn && !hideModal">
    <Modal class="z-50" v-on:handelDelet="handleModalClose" />
  </div>

  <div class="container relative">
    <img class="w-full" src="./imgs/landing.png" alt="" />

    <div
      class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-center"
    >
      <h1 class="text-4xl mb-5 font-bold">Enjoy Your Dream Vacation</h1>

      <p class="text-lg landing-text">
        Plan and book our perfect trip with expert advice, travel tips,
        destination <br />
        information and inspiration from us
      </p>
    </div>

    <div class="flex items-center justify-center">
      <SearchForm class="absolute -bottom-9" />
    </div>
  </div>

  <Danger />

  <div class="mt-4">
    <div class="container flex flex-col gap-4">
      <h1 class="font-bold text-3xl">Enjoy your dream vacation</h1>
      <p class="text-base text-dream">
        Plan and book our perfect trip with expert advice, travel tips,
        destination information and inspiration from us
      </p>
    </div>
  </div>

  <div class="">
    <div class="container grid grid-cols-4 gap-5">
      <div class="flex flex-col gap-3">
        <img class="w-full" src="./imgs/australia.png" alt="" />
        <div class="flex flex-col gap-1">
          <h2 class="font-semibold text-xl">Australia</h2>
          <p class="text-sm">2246 properties</p>
        </div>
      </div>

      <div class="flex flex-col gap-3">
        <img class="w-full" src="./imgs/japan.png" alt="" />
        <div class="flex flex-col gap-1">
          <h2 class="font-semibold text-xl">Japan</h2>
          <p class="text-sm">1278 properties</p>
        </div>
      </div>

      <div class="flex flex-col gap-3">
        <img class="w-full" src="./imgs/new zealand.png" alt="" />
        <div class="flex flex-col gap-1">
          <h2 class="font-semibold text-xl">New Zealand</h2>
          <p class="text-sm">480 properties</p>
        </div>
      </div>

      <div class="flex flex-col gap-3">
        <img class="w-full" src="./imgs/greece.png" alt="" />
        <div class="flex flex-col gap-1">
          <h2 class="font-semibold text-xl">Greece</h2>
          <p class="text-sm">320 properties</p>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-3 -mb-7">
    <div class="container">
      <h1 class="font-bold text-3xl">Get inspiration for your next trip</h1>
    </div>
  </div>

  <div class="container grid grid-cols-3 gap-4">
    <div class="relative">
      <img class="trip-home-img" src="./imgs/sydeny.png" alt="" />
      <div class="absolute bottom-5 left-5">
        <h1 class="text-xl font-semibold text-white w-96 mb-2">
          Sydeny’s 10 most fashionable 5 star hotels
        </h1>
        <p class="text-white w-96">
          Browse the fastest growing tourism sector in the heart of Australia
          tourism capital ....
        </p>
      </div>
    </div>

    <div class="relative">
      <img class="trip-home-img" src="./imgs/vegan.png" alt="" />
      <div class="absolute bottom-5 left-5">
        <h1 class="text-xl font-semibold text-white w-96 mb-2">
          Top cities for Vegan Travellers
        </h1>
        <p class="text-white w-96">
          Top sites where you do not have to worry about being a vegan. Our
          tourist guide is here...
        </p>
      </div>
    </div>

    <div class="relative">
      <img class="trip-home-img" src="./imgs/hills.png" alt="" />
      <div class="absolute bottom-5 left-5">
        <h1 class="text-xl font-semibold text-white w-96 mb-2">
          World’s top destinations during and post covid timeline
        </h1>
        <p class="text-white w-96">
          Pandemic is still intact and will be here for a longer time. Here’s
          where your next destination...
        </p>
      </div>
    </div>
  </div>

  <div class="mt-3 -mb-7">
    <div class="container">
      <h1 class="font-bold text-3xl">Popular hotels</h1>
    </div>
  </div>

  <div>
    <div class="container grid grid-cols-4 gap-5">
      <div class="flex flex-col gap-2">
        <img class="w-full" src="./imgs/lakeside.png" alt="" />
        <div class="flex flex-col">
          <h1 class="mb-1 mt-2 font-semibold text-xl">
            Lakeside Motel Warefront
          </h1>
          <p class="text-sm">2246 properties</p>
        </div>
      </div>

      <div class="flex flex-col gap-2">
        <img class="w-full" src="./imgs/recce.png" alt="" />
        <div class="flex flex-col">
          <h1 class="mb-1 mt-2 font-semibold text-xl">Recce Graham resort</h1>
          <p class="text-sm">1278 properties</p>
        </div>
      </div>

      <div class="flex flex-col gap-2">
        <img class="w-full" src="./imgs/fireside.png" alt="" />
        <div class="flex flex-col">
          <h1 class="mb-1 mt-2 font-semibold text-xl">Fireside Dinners</h1>
          <p class="text-sm">480 properties</p>
        </div>
      </div>

      <div class="flex flex-col gap-2">
        <img class="w-full" src="./imgs/oclous.png" alt="" />
        <div class="flex flex-col">
          <h1 class="mb-1 mt-2 font-semibold text-xl">Oculous Inn Stay</h1>
          <p class="text-sm">320 properties</p>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-3">
    <div class="container relative">
      <img class="w-full" src="../../pages/Home/imgs/Sea.png" alt="" />
      <div class="absolute img-sea-content">
        <h1 class="text-3xl text-white font-semibold mb-10">
          Download the mobile application for bonus coupons and travel codes
        </h1>
        <button class="bg-blue-500 text-white py-2 px-4 rounded-md">
          Download mobile app
        </button>
      </div>
    </div>
  </div>

  <div class="mt-10">
    <div class="container flex flex-col gap-5">
      <h1 class="font-bold text-3xl text-center">
        Explore the world with My Dream place
      </h1>
      <p class="text-blue-500 text-center text-ml landing-text">
        Discover new places and experiences
      </p>
    </div>
  </div>

  <Footer />
</template>

<script setup>
import { ref } from "vue";
import Navbar from "@/components/layout/Navbar/Navbar.vue";
import Danger from "@/components/layout/Danger/Danger.vue";
import Footer from "@/components/layout/Footer/Footer.vue";
import SearchForm from "@/components/SearchForm/SearchForm.vue";
import Modal from "@/components/layout/Modal/Modal.vue";

const isLoggedIn = window.localStorage.getItem("accessToken");

const hideModal = ref(
  window.localStorage.getItem("welcomeModalHidden") === "true"
);

const handleModalClose = () => {
  window.localStorage.setItem("welcomeModalHidden", "true");
  hideModal.value = !hideModal.value;
};
</script>

<style scoped>
.img-sea-content {
  top: 100px;
  left: 69px;
  width: 650px;
}

.landing-text {
  letter-spacing: 0.4px;
}

.text-dream {
  color: var(--Gray-1, #333);
  font-size: 16px;
  line-height: 140%;
  width: 50%;
  letter-spacing: 0.32px;
}
</style>
