<template>
  <div class="booking-nav h-52 relative">
    <Navbar :whiteVariant="true" />

    <div class="container">
      <div class="flex items-center justify-center">
        <SearchForm
          class="absolute -bottom-6 translate-y-1/2"
          :handleSearch="handleSearchHotels"
        />
      </div>
    </div>
  </div>

  <div class="mt-20">
    <div class="container flex gap-5">
      <aside class="">
        <div class="background h-32 w-80 rounded-md">
          <p class="text-search">Search by property name</p>

          <div class="relative">
            <input
              v-model="nameFilter"
              class="pl-10 ml-4 h-11 w-60 rounded-md z-10"
              type="search"
              placeholder="eg. Beach westpalm"
            />
            <search class="absolute bottom-3 left-7" />
          </div>
        </div>

        <div class="my-7">
          <p class="fliter font-semibold ml-5">Filter by</p>
        </div>

        <div class="rounded-xl border-2">
          <div class="w-80 h-14 background rounded-t-lg">
            <p class="budget py-4 px-4">Your budget per day</p>
          </div>
          <div class="py-4 px-4 grid justify-between">
            <form class="grid justify-items-start gap-3">
              <div
                v-for="priceFilter in priceFilters"
                :key="priceFilter.max"
                class="flex items-center justify-center"
              >
                <input
                  class="w-5 h-5 rounded-md"
                  type="checkbox"
                  name="priceFilter"
                  :id="priceFilter.max"
                  :checked="maxPriceFilter === priceFilter.max"
                  :disabled="
                    enableManualPriceFilter ||
                    (!!maxPriceFilter && maxPriceFilter !== priceFilter.max)
                  "
                  @click="
                    handleFilterPriceToggle(priceFilter.min, priceFilter.max)
                  "
                />

                <label :for="priceFilter.max" class="">
                  <p class="checklabel inline ml-2">{{ priceFilter.text }}</p>
                </label>
              </div>
            </form>
          </div>

          <div class="px-4 my-2 flex items-center justify-between">
            <p class="setOwn">Set your own budget</p>

            <Switch
              v-model="enableManualPriceFilter"
              :class="enableManualPriceFilter ? 'bg-blue-600' : 'bg-gray-200'"
              class="relative inline-flex h-6 w-11 items-center rounded-full"
            >
              <span
                :class="
                  enableManualPriceFilter ? 'translate-x-6' : 'translate-x-1'
                "
                class="inline-block h-4 w-4 transform rounded-full bg-white transition"
              />
            </Switch>
          </div>

          <form class="p-4">
            <div class="flex items-center justify-center mb-2 gap-3">
              <input
                placeholder="Min budget"
                type="number"
                class="w-28 px-4 py-2 rounded-md"
                v-model="minPriceManualInput"
                :disabled="!enableManualPriceFilter"
                @keyup.enter="handleMaunalFilter"
              />

              <input
                placeholder="Max budget"
                type="number"
                class="w-28 px-4 py-2 rounded-md"
                v-model="maxPriceManualInput"
                :disabled="!enableManualPriceFilter"
                @keyup.enter="handleMaunalFilter"
              />
            </div>
            <p class="enter-submit px-9">Press Enter to filter</p>
          </form>
        </div>

        <!-- Rating Filter -->
        <div class="rounded-xl border-solid border-2 mt-5">
          <div class="w-80 h-14 background rounded-t-lg">
            <p class="budget py-4 px-4">Rating</p>
          </div>

          <div class="py-4 px-3">
            <p class="star-text">Show only ratings more than</p>

            <div class="flex flex-row mb-2">
              <div
                v-for="i in 5"
                :key="i"
                class="flex items-center justify-center border-solid border-y-2 border-l-2 px-3 py-3 gap-0.5 cursor-pointer select-none hover:bg-gray-50"
                :class="{
                  'rounded-l-lg': i === 1,
                  'border-r-2 rounded-r-lg': i === 5,
                  'bg-gray-100 shadow-inner': ratingFilter === i,
                }"
                @click="ratingFilter = ratingFilter === i ? 0 : i"
              >
                <span class="text-xl">{{ i }}</span>
                <img src="../../../assets/Icons/star.svg" />
              </div>
            </div>
          </div>
        </div>
      </aside>

      <div v-if="SearchResultStore.loading">Loading....</div>
      <div v-else-if="!SearchResultStore.searchResult.length">
        No Items Found :) Please start a new search or adjust your filters.
      </div>
      <div v-else class="places flex-1">
        <div class="flex justify-between">
          <h1 class="text-2xl font-semibold">
            {{ getDestinationName(SearchResultStore.searchQuery.destination) }}
            : {{ filteredHotels.length }} search results found
          </h1>

          <Listbox as="div" class="relative text-left" v-model="sortBy">
            <div>
              <ListboxButton
                class="sort realtive w-full text-gray-400 justify-center rounded-md bg-gray-200 px-3 py-2 text-sm font-medium focus:outline-none focus-visible:ring-2 focus-visible:ring-white/75"
              >
                <div class="text-start">
                  <div>Sort by</div>

                  <div class="text-black tracking-wide text-gray-700">
                    {{ sortBy?.title || "Select one" }}
                  </div>
                </div>
              </ListboxButton>

              <arrow
                class="absolute bottom-3/2 top-1/2 right-1 transform -translate-x-1/2 -translate-y-1/2"
              />
            </div>

            <transition
              enter-active-class="transition duration-100 ease-out"
              enter-from-class="transform scale-95 opacity-0"
              enter-to-class="transform scale-100 opacity-100"
              leave-active-class="transition duration-75 ease-in"
              leave-from-class="transform scale-100 opacity-100"
              leave-to-class="transform scale-95 opacity-0"
            >
              <ListboxOptions
                class="absolute z-40 right-0 mt-2 w-58 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black/5 focus:outline-none text-center text-sm"
              >
                <ListboxOption
                  v-for="sortByOption in SearchResultStore.sortByOptions"
                  :key="sortByOption.id"
                  v-slot="{ active, selected }"
                  :value="sortByOption"
                >
                  <p
                    :class="[
                      'p-2 cursor-pointer',
                      selected && 'text-blue-500',
                      active && 'bg-blue-500 text-white rounded-md',
                    ]"
                  >
                    {{ sortByOption.title }}
                  </p>
                </ListboxOption>
              </ListboxOptions>
            </transition>
          </Listbox>
        </div>

        <div
          v-for="hotel in filteredHotels"
          class="w-full border border-gray-300 rounded-md flex gap-4 p-5 mt-6"
          :key="hotel.hotel_id"
        >
          <div class="flex items-start flex-1 gap-6">
            <img
              class="hotel-img"
              :src="hotel.property.photoUrls[0]"
              :alt="hotel.accessibilityLabel"
            />

            <div class="flex justify-between flex-col gap-4 h-full">
              <p class="text-xl font-medium">{{ hotel.property.name }}</p>
              <div class="satrs-holder flex gap-2">
                <div class="flex justify-center items-center">
                  <img
                    src="../../../assets/Icons/star.svg"
                    v-for="i in Math.floor(hotel.property.reviewScore / 2)"
                    :key="i"
                  />
                  <img
                    src="../../../assets/Icons/half-star.svg"
                    v-if="
                      Math.round(hotel.property.reviewScore / 2) >
                      hotel.property.reviewScore / 2
                    "
                  />
                </div>
                <p class="text-style itmes-center">
                  {{ (hotel.property.reviewScore / 2).toFixed(1) }} ({{
                    hotel.property.reviewCount
                  }}
                  Reviews)
                </p>
              </div>
              <div class="detales">
                <p class="text-style font-medium">
                  Live a little and celbrate with champagne
                </p>
                <p class="text-style">
                  Reats include a glass of French champagne, parking and a late
                  checkout. Gym included. Flexible cancellation applies
                </p>
              </div>
              <button
                @click="() => goToOverview(hotel.hotel_id)"
                class="bg-blue-500 text-white rounded-md px-3 py-2 w-2/5"
              >
                See avaliability
              </button>
            </div>
          </div>

          <div class="flex flex-col justify-end mr-1">
            <p
              v-if="hotel.property.priceBreakdown?.benefitBadges?.[0]"
              class="mb-auto self-end py-1 px-2 bg-red-400 text-white rounded-md text-sm font-medium"
            >
              {{ hotel.property.priceBreakdown?.benefitBadges?.[0]?.text }}
            </p>

            <p
              v-if="hotel.property.priceBreakdown?.excludedPrice?.value"
              class="my-auto self-end py-1 px-2 bg-green-600 text-white rounded-md text-sm font-medium"
            >
              ${{
                hotel.property.priceBreakdown?.excludedPrice?.value?.toFixed(2)
              }}
              off
            </p>

            <div class="flex flex-col gap-4 self-end">
              <div>
                <p class="text-end text-xl font-medium">
                  <span
                    v-if="
                      hotel.property.priceBreakdown?.strikethroughPrice?.value
                    "
                    class="discount text-red-500 text-sm mr-2 font-medium"
                  >
                    ${{
                      hotel.property.priceBreakdown?.strikethroughPrice?.value?.toFixed(
                        2
                      )
                    }}
                  </span>

                  ${{
                    (
                      hotel.property.priceBreakdown?.grossPrice?.value -
                      (hotel.property.priceBreakdown?.excludedPrice?.value || 0)
                    ).toFixed(2)
                  }}
                </p>
                <p class="opacity-60">Includes taxes and fees</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <Danger />
    <Footer />
  </div>
</template>

<script setup>
import { ref, computed, watch } from "vue";
import {
  Switch,
  Listbox,
  ListboxButton,
  ListboxOptions,
  ListboxOption,
} from "@headlessui/vue";
import SearchForm from "@/components/SearchForm/SearchForm.vue";
import search from "@/assets/icons/search.svg";
import router from "@/router";
import Danger from "@/components/layout/Danger/Danger.vue";
import arrow from "@/assets/icons/arrow.svg";
import Footer from "@/components/layout/Footer/Footer.vue";
import Navbar from "@/components/layout/Navbar/Navbar.vue";
import { getDestinationName } from "@/utilities/searchDestinations.js";
import { useSearchResultStore } from "@/stores/searchResult";

const SearchResultStore = useSearchResultStore();

const nameFilter = ref("");
const ratingFilter = ref(1);
const minPriceFilter = ref("");
const maxPriceFilter = ref("");
const enableManualPriceFilter = ref(false);
const minPriceManualInput = ref("");
const maxPriceManualInput = ref("");
const sortBy = ref(null);

const filteredHotels = computed(() => {
  return SearchResultStore.searchResult.filter((hotel) => {
    const { name, reviewScore } = hotel.property;

    return (
      name.toLowerCase().includes(nameFilter.value.toLowerCase()) &&
      reviewScore / 2 >= ratingFilter.value
    );
  });
});

const handleSearchHotels = (
  minPrice = minPriceFilter.value,
  maxPrice = maxPriceFilter.value,
  sortByOption = sortBy.value
) => {
  if (SearchResultStore.searchQuery.destination) {
    SearchResultStore.getSearchResults(
      !!minPrice && minPrice,
      !!maxPrice && maxPrice,
      sortByOption?.id
    );
  }
};

handleSearchHotels();

const priceFilters = [
  {
    text: "$0 - $200",
    min: 0,
    max: 200,
  },
  {
    text: "$200 - $500",
    min: 200,
    max: 500,
  },
  {
    text: "$500 - $1,000",
    min: 500,
    max: 1000,
  },
  {
    text: "$1,000 - $2,000",
    min: 1000,
    max: 2000,
  },
  {
    text: "$2,000 - $5,000",
    min: 2000,
    max: 5000,
  },
];

const handleFilterPriceToggle = (min, max) => {
  if (maxPriceFilter.value === max) {
    minPriceFilter.value = "";
    maxPriceFilter.value = "";
  } else {
    minPriceFilter.value = min;
    maxPriceFilter.value = max;
  }
};

const handleMaunalFilter = () => {
  minPriceFilter.value = minPriceManualInput.value;
  maxPriceFilter.value = maxPriceManualInput.value;
};

watch(enableManualPriceFilter, (enabled) => {
  if (!enabled) {
    minPriceFilter.value = "";
    maxPriceFilter.value = "";

    minPriceManualInput.value = "";
    maxPriceManualInput.value = "";
  }
});

watch(
  [minPriceFilter, maxPriceFilter, sortBy],
  ([newMinPrice, newMaxPrice, newSortBy]) => {
    handleSearchHotels(newMinPrice, newMaxPrice, newSortBy);
  }
);

const goToOverview = (hotelId) => {
  router.push({
    name: "overview",
    params: {
      id: hotelId,
      arrivalDate: SearchResultStore.searchQuery.arrivalDate,
      departureDate: SearchResultStore.searchQuery.departureDate,
    },
  });
};
</script>

<style scoped>
.booking-nav {
  background: linear-gradient(180deg, #2969bf 0%, #144e9d 100%);
}

.background {
  background: var(--Gray-6, #f2f2f2);
}

.text-search {
  color: #181818;
  font-size: 18px;
  font-weight: 500;
  padding: 20px;
  letter-spacing: 0.16px;
}

.budget {
  color: #181818;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.16px;
}

.fliter {
  letter-spacing: 0.36px;
  font-size: 18px;
  color: #333;
}

input[type="search"] {
  border: 1px solid var(--Gray-5, #e0e0e0);
}

input[type="search"]::placeholder,
.text-style {
  color: var(--Gray-2, #4f4f4f);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.28px;
}

input[type="number"] {
  width: 103px;
  height: 39px;
  border: 1px solid var(--Gray-5, #e0e0e0);
}

input[type="number"]::placeholder {
  font-size: 12px;
  color: #333;
  letter-spacing: 0.24px;
  font-weight: 500;
  line-height: 140%;
}

.checklabel {
  color: var(--Gray-1, #333);
  letter-spacing: 0.28px;
  font-size: 14px;
}

.setOwn {
  color: var(--Gray-2, #4f4f4f);
  font-size: 16px;
  letter-spacing: 0.28px;
}

.enter-submit {
  color: #4f4f4f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.24px;
}

.star-text {
  color: var(--Gray-2, #4f4f4f);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
  margin-bottom: 10px;
}

span {
  /* color: #333; */
  letter-spacing: 0.32px;
}

.sort {
  width: 180px;
  background-color: white;
  border: 1px solid var(--Gray-5, #e0e0e0);
}

.discount {
  /* color: red; */
  text-decoration-line: line-through;
}

.hotel-img {
  width: 285px;
  height: 200px;
}
</style>
