<template>
  <div @click="click" class="backdrop fixed top-0 w-full h-full">
    <div class="modal bg-white opacity-100 relative">
      <div class="semi-crcile absolute">
        <div class="pepole flex justify-center">
          <img
            class="insde-person"
            src="../../../assets/Icons/person.svg"
            alt=""
          />
          <img class="" src="../../../assets/Icons/person2.svg" alt="" />
        </div>
        <div class="inside-text text-center flex flex-col items-center gap-3">
          <p class="font-semibold text-xl w-72">Welcome to My Dream Place</p>
          <p class="secoed-text">
            You can now enjoy your travel experience with easy access to
            resources and more
          </p>

          <button
            @click="$emit('handelDelet')"
            class="inside-btn mt-10 rounded-md"
          >
            Get Started
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
defineProps({
  hide: Object,
});

const handel = () => {
  hide = !hide;
};
</script>

<style scoped>
.backdrop {
  background-color: rgb(0, 0, 0, 0.5);
}
.modal {
  width: 400px;
  height: 500px;
  margin: 200px auto;
  border-radius: 10px;
}
.semi-crcile {
  width: 240px;
  height: 200px;
  border-radius: 100px;
  background-color: rgba(47, 128, 237, 0.3);
  top: 50px;
  left: 80px;
}
.insde-person {
  width: 81px;
  height: 187px;
}

.inside-text {
  margin-top: 45px;
}
.secoed-text {
  width: 352px;
  color: #4f4f4f;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: 140%;
}
.inside-btn {
  width: 352px;
  height: 44px;
  background-color: #2f80ed;
  color: white;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.3px;
  font-weight: 500;
}
.Dontshow {
  display: none;
}
</style>
