<template>
  <div @click="click" class="backdrop fixed top-0 w-full h-full">
    <div class="modal bg-white opacity-100 relative">
      <div class="semi-crcile absolute">
        <div class="flex flex-col justify-center items-center">
          <img class="mt-5" src="./imgs/garud.png" alt="" />
        </div>
        <div
          class="inside-text text-center flex flex-col items-center gap-4 mt-10"
        >
          <p class="font-semibold text-xl w-72">Booking Successful</p>
          <p class="secoed-text">
            Congratulations your reservation has been made. You will be notified
            2 days prior the date.
          </p>

          <button
            @click="$emit('handelridirect')"
            class="inside-btn mt-10 rounded-md"
          >
            View Trip
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup></script>

<style scoped>
.backdrop {
  background-color: rgb(0, 0, 0, 0.5);
}
.modal {
  width: 400px;
  height: 500px;
  margin: 200px auto;
  border-radius: 10px;
}
.semi-crcile {
  width: 240px;
  height: 200px;
  border-radius: 10px;
  background: rgba(111, 207, 151, 0.2);
  top: 50px;
  left: 80px;
}

.inside-text {
  margin-top: 45px;
}
.secoed-text {
  width: 352px;
  color: #4f4f4f;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: 140%;
}
.inside-btn {
  width: 352px;
  height: 44px;
  background-color: #2f80ed;
  color: white;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.3px;
  font-weight: 500;
}
.Dontshow {
  display: none;
}
</style>
