<template>
  <nav>
    <div class="container">
      <div @click="redirect" class="nav-plane cursor-pointer">
        <Plane class="inline w-6 h-6 mb-1" />
        <p class="inline text-xl pl-2 font-medium">My Dream Place</p>
      </div>
    </div>
  </nav>

  <div class="mt-32 flex items-center justify-center">
    <div class="max-w-md w-full p-6">
      <h1 class="login-text font-semibold text-center mb-10">Sign In</h1>

      <form @submit="handleSubmit">
        <div class="mb-4">
          <label for="email" class="block text-sm font-medium"
            >Email address</label
          >
          <input
            type="email"
            id="email"
            v-model.trim="email"
            class="mt-1 p-2 w-full bg-gray-100 rounded-md"
            required
          />
        </div>

        <div class="mb-4 relative">
          <label for="password" class="block text-sm font-medium"
            >Password</label
          >
          <input
            :type="ShowPassword ? 'text' : 'password'"
            id="password"
            v-model="password"
            class="mt-1 p-2 w-full bg-gray-100 rounded-md mb-3"
            required
            minlength="6"
            maxlength="32"
          />
          <Eye
            @click="togglePassword"
            class="absolute bottom-3 right-2 transform -translate-x-1/2 -translate-y-1/2 cursor-pointer"
          />
        </div>

        <button
          type="submit"
          class="w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600"
        >
          Sign In
        </button>
        <p class="text-center opacity-70 mt-3">
          Don’t have an account?
          <RouterLink to="/auth/register" class="register text-blue-500">
            Register
          </RouterLink>
        </p>
      </form>
    </div>
  </div>
</template>

<script setup>
import Plane from "@/assets/icons/Plane.svg";
import Eye from "@/assets/icons/Eye.svg";
import router from "@/router";
import { ref } from "vue";

const email = ref("");
const password = ref("");
const ShowPassword = ref(false);

const handleSubmit = (e) => {
  e.preventDefault();

  if (email.value && password.value) {
    window.localStorage.setItem("accessToken", email.value);
    router.push({ name: "home" });
  } else {
    alert("Email and Passowrd are requrired");
  }
};
const togglePassword = () => {
  ShowPassword.value = !ShowPassword.value;
};

const redirect = () => {
  router.push({ name: "home" });
};
</script>

<style scoped>
.login-text {
  color: #181818;
  font-size: 28px;
}

.register {
  color: #2f80ed;
  font-size: 16px;
}
</style>
